<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}/css/normalize.css" />
<link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}/css/kitta.css" />
<link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}/css/component.css" />
<!-- csstransforms3d-shiv-cssclasses-prefixed-teststyles-testprop-testallprops-prefixes-domprefixes-load -->
<script src="{{ .Site.BaseURL }}/js/modernizr.custom.25376.js"></script>
<title> {{ .Title }} &middot; {{ .Site.Title }} </title>
<!-- CSS -->
<!--<link rel="stylesheet" href="{{ .Site.BaseURL }}/css/slim.css">-->
<link rel="stylesheet" href="{{ .Site.BaseURL }}/css/highlight.min.css">
<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600&subset=latin,latin-ext' rel='stylesheet'>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<!-- Icons -->
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/apple-touch-icon-144-precomposed.png">
<link rel="shortcut icon" href="/favicon.ico">
<!-- RSS -->
<link href="{{ .RSSlink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
